.nav-container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between
}

.nav-width-300 {
    width: 300px;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    margin-right: 10px;
}